# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#START
# PLEASE PLACE CUSTOM GIT IGNORES BELOW #END
#
# ANYTHING YOU PLACE BEFORE THE END TAG
# WILL BE OVERWRITTEN BY ecc-dotfiles
# INSTALL-SCRIPT

# node && npm
npm-debug.log
yarn-error.log

# ignore symlinks
Makefile

# ignore compiled
dist/*
.tmp/

# ignore data folders by jetbrains products
.idea

#END
